.dx-scrollview-top-pocket-message,
.dx-scrollview-bottom-pocket-message {
  display: none !important;
}

.tile-container{
    display: grid;
    grid-template-columns: 20% 20%;
    gap: 20px;
    margin: 10vh;
}

.tile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-item {
    width: 30vh;
    height: 40vh;
    border-radius: 10px;   
}

a {
    text-decoration: none;
    color: #333;
}

.tile-subtitle {
    margin-top: 10px;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}